# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Environnement
.venv/

# Données lourdes
data/32m/
data/processed/

# Modèles entraînés
*.npy
*.pt
models/shared/
models/als/

# Secrets
.env

# Tests
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store